* {
    box-sizing: border-box;
    font-size: 15px;
}
body {

    font-family: Arial;
    margin: 0;
}
/*Header Information*/
.titleBox {
    padding: 10px;
    color: white;
    background: #A52A2A;
    text-align: left;
}
.titleBox #header {
    font-size: 20px;
    padding-left: 10px;
}
.profileInformation {
    padding: 10px;
    border-bottom: 5px dashed #E0A8A8;
}
.welcome {
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 17px;
}
/*Navbar information*/
#navBox {
    display: inline-block;
    width: 100%;
    background-color: #800000;
}
#navBox a { 
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.dropdown {
    float: left;
}
.dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    margin: 0;
    padding: 14px 16px;
    background-color: #800000;
    font: Arial;
}
.dropdown_content a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 12px 16px;
    z-index: 1;
}
.dropdown_content {    
    display: none;
    position: absolute;
    background-color: #800000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown_content {
    display: block;
}
/*Floating to the right*/
#navBox a.right {
    float: right;
}
#navBox a:hover, #navBox button:hover {
    color: black;
    background-color: #992600;
}

/*Main content information*/
.mainContent {
    display: block;
    padding: 10px
}
.subtitle {
    text-align: center;
}
/*Tables*/
#libraries {
    width: 100%;
    font-family: Arial;
    border-collapse: collapse;
    margin-bottom: 25px;
}
#libraries th {
    background: #A52A2A;
    border: 1px solid white;
    padding: 20px;
    color: white;
}
#libraries td {
    background: #E0A8A8;
    border: 1px solid white;
    padding: 20px;
    color:white;
}
/*Profile modifications*/
.popUpContent {
    width: 60%;
    border: 1px solid black;
    background-color: #fefefe;
    margin: 5% auto 15% auto;
}
.popUp {
    display: none; /*Starts of as none*/
    position: fixed;
    overflow: auto;
    background-color: #A52A2A;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    z-index: 1;
    left: 0;
    top: 0; 
}
.signContainer {
    padding: 16px;
}
.popUp .popUpContent input[type=text], .popUp .popUpContent input[type=password], .popUp .popUpContent select {
    display: inline-block;
    border: none;
    padding: 15px;
    width: 100%;
    margin: 5px 0 15px 0;
    background: #f1f1f1;
} 
.popUp .popUpContent input[type=submit], .popUp .popUpContent input[type=button] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px  0;
    background-color: #d8d8e5;
    color: black;
    border: none;
    border-radius: 4px;
}
.popUp .popUpContent input[type=button] {
    background-color: #A52A2A;
    color: white;
}
.popUp .popUpContent input[type=button]:hover {
    background-color: #992600;
    color: black;
}
.popUp .popUpContent input[type=submit]:hover {
    background-color: #eaeaea;
    color: black;
}
